sotf inventory editor.code-workspace
__pycache__/KnownItem.cpython-310.pyc
__pycache__/TkEditJsonDialog.cpython-310.pyc
__pycache__/ItemIdLoader.cpython-310.pyc
__pycache__/IdExtractor.cpython-310.pyc
__pycache__/InventoryLoader.cpython-310.pyc
