__pycache__/*
sotf inventory editor.code-workspace
special item modules.json
sotf gui mockup.drawio.png
sotf gui mockup.drawio
actors.json
gameState.json
GameStateSaveData.json
SaveData.json
weatherSystem.json
gameSetup.json
test.json
